{% extends "base.twig" %}
{% block title %}Cryptocurrency{% endblock %}
{% block content %}
    {% include 'navbar.twig' %}
    {% if auth.name %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 >Welcome, {{ auth.name | capitalize }}!</h1>
        </div>
    </div>
    {% endif %}
    <!--Currency Table-->
    <div class="container-fluid p-4" style=" width: 80%">
        <table class="table table-responsive table-sm shadow p-4 mb-5 bg-body rounded">
            <thead style="width: 40px">
            <tr >
                <th>Currency</th>
                <th>Price (USD)</th>
                <th>Change (1h)</th>
                <th>Change (24h)</th>
                {% if auth.name %}
                <th>Buy</th>
                <th>Sell</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for currency in currency %}
                <tr>
                    <td>
                        <figure class="d-flex m-3" >
                            <img src="{{ currency.logo }}" alt="{{ currency.name }} logo">
                            <figcaption class="text-capitalize" >
                                <h5>{{ currency.name }}</h5>
                                <span>({{ currency.symbol }})</span>
                            </figcaption>
                        </figure>
                    </td>
                    <td>{{ currency.price |number_format(2) }}€
                    </td>
                    <td>
                        {% if currency.percentChange1h >= 0 %}
                            <i class="fas fa-arrow-up" style="color:green"></i> {{ currency.percentChange1h|number_format(2) }}%
                        {% else %}
                            <i class="fas fa-arrow-down" style="color:red"></i> {{ currency.percentChange1h|number_format(2) }}%
                        {% endif %}
                    </td>
                    <td>
                        {% if currency.percentChange24h >= 0 %}
                            <i class="fas fa-arrow-up" style="color:green"></i> {{ currency.percentChange24h|number_format(2) }}%
                        {% else %}
                            <i class="fas fa-arrow-down" style="color:red"></i> {{ currency.percentChange24h|number_format(2) }}%
                        {% endif %}
                    </td>

                    <!-- Add buttons for buying and selling -->
                    {% if auth.name %}
                    <td>
                        <form method="post">
                            <input class="smaller" name="currency" value="{{ currency.symbol }}">
                            <button type="submit" class="btn btn-primary btn-sm">Buy</button>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <input class="smaller" name="currency" value="{{ currency.symbol }}">
                            <button type="submit" class="btn btn-primary btn-sm">Sell</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}